@if (loading) {
<app-spinner> </app-spinner>
} @else {
<div class="p-4">
    <div class="col-12">
        <h3>Nueva cotización</h3>
    </div>

    <div class="flex justify-content-end mb-3">
        <p-button label="Volver" routerLink="/cotizaciones" />
    </div>

    @if(loading) {
    <app-spinner></app-spinner>
    } @else {
    <div class="card p-4 float-container">
        <form [formGroup]="form" (ngSubmit)="siguiente()" class="flex flex-column gap-4">
            <div class="formgrid grid align-items-end">
                <div class="field col-12 md:col-4">
                    <label for="clientes">Cliente</label>
                    <p-autoComplete formControlName="clientes" [suggestions]="clientesFiltrados"
                        (completeMethod)="buscarClientes($event)" [dropdown]="true" [forceSelection]="true"
                        placeholder="Buscar cliente" class="w-full md:w-56" [inputStyle]="{ width: '100%' }"
                        [showClear]="true" [optionLabel]="'nombre'" [disabled]="loadingClientes"
                        emptyMessage="No se encontraron clientes">

                        <ng-template let-cliente pTemplate="item">
                            {{ cliente.nombre }}
                        </ng-template>

                        <ng-template let-cliente pTemplate="selectedItem">
                            {{ cliente?.nombre }}
                        </ng-template>

                    </p-autoComplete>
                </div>

                @if (!habilitarDetalle && !loadingClientes) {
                <div class="field col-12 md:col-4 flex justify-content-end gap-2">
                    <p-button label="Cargar cliente" icon="pi pi-check" type="submit" [disabled]="form.invalid">
                    </p-button>
                </div>
                }

            </div>

        </form>

        @if (!loading && habilitarDetalle) {
        <div class="">
            <h3>Detalle de la cotización</h3>
            <div class="card">
                <form [formGroup]="formDetalle" class="flex flex-column gap-4">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-3">
                            <label for="productos">Productos</label>
                            <p-select [options]="productos" formControlName="productos" optionLabel="nombre"
                                optionValue="id" placeholder="Selecciona" class="w-full md:w-56"
                                (onChange)="onProductoChange($event)" emptyMessage="No se encontraron productos" />
                        </div>
                        @if(selectProducto) {
                        <div class="field col-12 md:col-3">
                            <label for="productos">Cantidad</label>
                            <p-inputnumber id="cantidad" pInputNumber formControlName="cantidad" class="w-full"
                                (onInput)="onCantidadChange($event)" />
                            @if (formDetalle.get('cantidad')?.invalid && formDetalle.get('cantidad')?.touched) {
                            <small class="text-red-500">
                                La cantidad no puede ser menor a 1
                            </small>
                            }
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="valorUnitario">Valor unitario</label>
                            <p-inputnumber id="valorUnitario" pInputNumber formControlName="valorUnitario"
                                class="w-full" />

                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="subtotal">Subtotal</label>
                            <p-inputnumber id="subtotal" pInputNumber formControlName="subtotal" class="w-full" />
                        </div>
                        <div class="field col-12 md:col-3">
                            <p-button label="Agregar" icon="pi pi-plus" type="button" (onClick)="agregarProductos()" />
                        </div>
                        }

                    </div>
                </form>

                @if (showTableProductos) {
                <p-table [value]="cotizacionDetalle" showGridlines selectionMode="single" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Valor unitario</th>
                            <th>Subtotal</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-c>
                        <tr>
                            <td>{{ c.idProducto.nombre }}</td>
                            <td>{{ c.cantidad }}</td>
                            <td>{{ c.precioUnitario | clp }}</td>
                            <td>{{ c.subtotal | clp }}</td>
                        </tr>
                    </ng-template>
                </p-table>

                <div class="flex justify-content-end mt-4">
                    <div class="w-full md:w-4">

                        <div class="flex justify-content-between mb-2">
                            <span>Monto neto</span>
                            <span>{{ total | clp }}</span>
                        </div>

                        <div class="flex justify-content-between mb-2">
                            <span>I.V.A. (19%)</span>
                            <span>{{ iva | clp }}</span>
                        </div>

                        <div class="flex justify-content-between font-bold text-lg border-top-1 pt-2 mt-2">
                            <span>Total</span>
                            <span>{{ totalConIva | clp }}</span>
                        </div>

                    </div>
                </div>

                <div class="formgrid grid mt-4">
                    <div class="field col-12 md:col-12 flex justify-content-end gap-3">
                        <p-button label="Crear cotización" icon="pi pi-pencil" type="button"
                            (onClick)="enviarCotizacion()" [disabled]="form.invalid && formDetalle.invalid" />
                    </div>
                </div>
                }
            </div>


        </div>
        }
    </div>
    }
</div>
}



<p-toast />
<p-confirmdialog />