<div class="flex align-items-center justify-content-center min-h-screen bg-gray-900">
    <img src="../../../../assets/img/logo-otto-transparente.png" alt="Logo" class="w-10rem h-10rem">
    <div class="card w-full md:w-6 lg:w-3 float-container">
        <div class="p-4">
            <h2 class="text-center mb-4">Iniciar sesión</h2>

            <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-column gap-3">
                <div class="flex flex-column gap-2">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" placeholder="Ingrese email"
                        class="w-full" />
                </div>
                <div class="flex flex-column gap-2">
                    <label for="password">Password</label>
                    <input id="password" type="password" pInputText formControlName="password"
                        placeholder="Ingrese password" class="w-full" />
                </div>
                <p-button label="Ingresar" icon="pi pi-sign-in" type="submit" [disabled]="form.invalid"
                    class="w-full"></p-button>
            </form>

            @if(loading) {
            <div class="card flex justify-center">
                <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                    [style]="{ width: '50px', height: '50px' }" />
            </div>
            }
        </div>
    </div>
</div>

<p-toast />
<p-confirmdialog />