<div class="flex align-items-center justify-content-center min-h-screen bg-gray-300">

    <div class="w-full sm:w-30rem md:w-25rem">

        <div class="flex justify-content-center mb-4">
            <img src="assets/img/loto-otto-transparente.png" alt="Logo" class="w-8rem h-8rem">
        </div>

        <div class="surface-card p-4 border-round shadow-2">

            <h2 class="text-center mb-4">Iniciar sesión</h2>

            <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-column gap-3">

                <div class="flex flex-column gap-2">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" placeholder="Ingrese email"
                        class="w-full" />
                </div>

                <div class="flex flex-column gap-2">
                    <label for="password">Password</label>
                    <input id="password" type="password" pInputText formControlName="password"
                        placeholder="Ingrese password" class="w-full" />
                </div>

                <p-button label="Ingresar" icon="pi pi-sign-in" type="submit" [disabled]="form.invalid" [loading]="loading()" class="w-full">
                </p-button>

            </form>
        </div>
        <!-- @if(loading()) {
        <div class="flex justify-content-center mt-3">
            <p-progress-spinner strokeWidth="6" [style]="{ width: '40px', height: '40px' }" />
        </div>
        } -->

    </div>
</div>

<p-toast />
<p-confirmdialog />