<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Listado de categorías</h3>
        </div>
    </div>
    @if (loading) {
    <app-spinner></app-spinner>
    } @else {
    <div class="row">
        <div class="col-12">

            @if (loading) {
            <div class="alert alert-info">{{loadingMessage}}</div>
            } @else {
            <p-table [value]="categorias" showGridlines selectionMode="single" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c>
                    <tr>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.descripcion }}</td>
                        <td>
                            <div class="flex gap-4 justify-content-center">
                                <i class="pi pi-pencil icon-edit" pTooltip="Editar" tooltipPosition="top"
                                    (click)="editar($event, c.id)"></i>
                                <i class="pi pi-trash icon-trash" pTooltip="Eliminar" tooltipPosition="top"
                                    (click)="eliminar($event, c.id)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            }
        </div>
    </div>
    }
</div>
<p-toast />
<p-confirmdialog />