<div class="container-fluid">
    <h4>Categorías</h4>
    @if (loading) {
    <app-spinner></app-spinner>
    } @else {
    <div class="row mt-3">
        <div class="col-12">

            @if (loading) {
            <div class="alert alert-info">{{loadingMessage}}</div>
            } @else {
            <p-table [value]="categorias" showGridlines selectionMode="single" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c>
                    <tr>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.descripcion }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <p-button label="Editar"></p-button>
                                <p-button label="Eliminar"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            }

        </div>
        <!-- <div class="col-6">
            <h5>Crear categoría</h5>
            <form [formGroup]="form" (ngSubmit)="guardarCategoria()">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                    @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
                    <div class="text-danger">El nombre es requerido</div>
                    }
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                    @if (form.get('descripcion')?.invalid && form.get('descripcion')?.touched) {
                    <div class="text-danger">La descripción es requerida</div>
                    }
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
            </form>

            @if (mensaje) {
            <div class="alert alert-info mt-3">{{ mensaje }}</div>
            }
        </div> -->
    </div>
    }
</div>