@if(loading) {
<app-spinner></app-spinner>
} @else {
<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-3 float-container">
            <div class="chart-container">
                <p-chart type="bar" [data]="categoriasChart" [options]="options"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card p-3 float-container">
            <div class="chart-container">
                <p-chart type="bar" [data]="productosChart" [options]="options"></p-chart>
            </div>
        </div>
    </div>
</div>
}