<div class="container-fluid">
    <h4>Mantenedores</h4>

    <div class="row g-4">
        @for (item of items; track $index) {
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.label }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a [routerLink]="item.route" class="btn btn-primary">Ir a {{ item.label }}</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>