<div class="container mt-4 p-4" style="border: 1px solid black;">

    <div class="d-flex justify-content-between align-items-center">
        <h4>Dashboard - Componente padre</h4>
        <button class="btn btn-primary" [routerLink]="['/categorias']">Categoria</button>
        <button class="btn btn-primary" [routerLink]="['/productos']">Producto</button>
    </div>

    <div class="row mt-3 p-3" style="border: 1px solid red;">
        <div class="col-12">
            <app-categoria-list></app-categoria-list>
        </div>
    </div>

    <div class="row mt-3 p-3" style="border: 1px solid blue;">
        <div class="col-12">
            <app-producto-list></app-producto-list>
        </div>
    </div>

</div>