<div class="flex h-screen overflow-hidden">

    <div class="w-18rem p-3 bg-gray-300 text-white menu flex flex-column justify-content-between">
        <div>
            <div class="flex flex-column mb-3">
                <div class="flex justify-content-center">
                    <img src="assets/img/loto-otto-transparente.png" alt="Logo" class="w-10rem h-10rem">
                </div>
            </div>

            <div class="card flex justify-center border-top-1 border-gray-700 pt-3">
                <p-panelmenu [model]="items" class="w-full md:w-80" />
            </div>
        </div>

        <div class="mt-4 border-top-1 border-gray-700 pt-3 flex flex-column gap-2">
            <span class="text-sm">
                Bienvenido(a), {{ usuario.nombre }}
            </span>
            <p-button label="Cerrar sesión" icon="pi pi-sign-out" severity="danger" class="w-full"
                (onClick)="logout()"></p-button>
        </div>
    </div>

    <div class="flex-1 p-4 bg-gray-200 content">
        <router-outlet></router-outlet>
    </div>
</div>

<p-dialog header="Sesión finalizada" [(visible)]="mostrarModalSesion" [modal]="true" [closable]="false"
    [draggable]="false">
    <p>La sesión ha expirado. Debes iniciar sesión nuevamente.</p>

    <ng-template pTemplate="footer">
        <p-button label="Aceptar" icon="pi pi-sign-in" (onClick)="irALogin()"></p-button>
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmdialog />