body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5f7fa;
  color: #1f2937;
}

:root {
  --p-primary-color: #6366f1;
  --p-primary-hover-color: #4f46e5;
  --p-border-radius: 10px;
}

.p-card {
  border-radius: 12px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08) !important;
}

.p-button {
  border-radius: 8px !important;
  font-weight: 500;
}

.sidebar {
  background: #212529;
  color: white;
  height: 100vh;
  padding: 1rem;

  --p-text-color: #ffffff;
  --p-menuitem-text-color: #ffffff;
  --p-content-color: #ffffff;
  --p-surface-0: #212529;
  --p-menuitem-hover-background: #343a40;
}

.sidebar,
.sidebar .p-component {
  --p-text-color: #ffffff;
  --p-menuitem-text-color: #ffffff;
  --p-content-color: #ffffff;
  --p-surface-0: #212529;
  --p-menuitem-hover-background: #343a40;
}

.sidebar .p-panelmenu {
  --p-text-color: #ffffff;
  --p-menuitem-text-color: #ffffff;
  --p-content-color: #ffffff;
  --p-surface-0: #212529;
}

.p-panelmenu-panel {
  margin: 5px 0px;
  border-radius: 10px !important;
  padding: 0 !important;
}

.p-panelmenu-content ul {
  padding-left: 15px !important;
  margin: 0;
}

.icon-trash {
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
}

// .icon-trash:hover {
//   transform: scale(1.5);
//   transition: all 0.4s ease;
// }

.icon-edit {
  cursor: pointer;
  font-size: 1.2rem;
  color: #4f46e5;
}

// .icon-edit:hover {
//   transform: scale(1.1);
//   transition: all 0.2s ease;
// }

.menu {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.content {
  overflow-y: auto;
  height: 100vh;
}

.float-container {
  background-color: #fff;
  border-radius: 15px;
}

.size-box-dashboard {
  height: stretch;
}

.chart-container {
  width: 100%;
  height: 350px;
  position: relative;
}
